meta(name="robots" content="index,follow")
meta(name="viewport" content="width=device-width")
meta(name="apple-mobile-web-app-capable" content="yes")

link(rel="stylesheet" href="/assets/bar-ui/css/bar-ui.css")
link(rel="stylesheet" href="/assets/components.css")
link(rel="stylesheet" href="/assets/app.css")

link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic")
link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
