meta(charset="utf-8")

meta(name="description" content="革新的なレイアウトで探しやすい！ファンタジーRPGや恋愛アドベンチャー、ハードボイルドな探偵モノのノベルをはじめとする、様々なゲームにピッタリなフリー音楽素材を無料で公開しています。")
meta(name="keywords" content="音楽素材,BGM,mp3,フリー,無料,ダウンロード,ファンタジー,RPG")
meta(name="robots" content="index,follow")
meta(name="viewport" content="width=device-width")
meta(name="apple-mobile-web-app-capable" content="yes")

link(rel="stylesheet" href="/bar-ui/css/bar-ui.css")
link(rel="stylesheet" href="/components.css")
link(rel="stylesheet" href="/app.css")

link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic")
link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
