md-content.docs-menu
  header.nav-header
    a.docs-logo(href="#" ng-click="logoClick($event)")
      img(src="/logo.png")
      h1.docs-logotype.md-heading 音の園
      h3.author music by ANDY

  ul.menu-toggle-list
    li
      menu-link.tracklistlink(ng-click="transPage($event, 'about')")
        a.md-button(href="#" flex layout="row" ng-class="{active : current == 'about'}")
          .name このサイトについて・利用規約

  h2.menu-heading.md-subhead(flex layout="row")
    .title アルバム
    .count {{listset.albums.group_count}}
  ul.menu-toggle-list
    li.tower(ng-repeat=("musicset in listset.albums.listset"))
      menu-link.tracklistlink(ng-click="transPage($event, musicset.id)")
        a.md-button(href="#" flex layout="row" ng-class="{active : current == musicset.id}")
          .name(ng-bind="musicset.listname")
          .count(ng-bind="musicset.count")

  h2.menu-heading.md-subhead(flex layout="row")
    .title シーン
    .count
  ul.menu-toggle-list
    li.music(ng-repeat=("musicset in listset.scenes.listset"))
      menu-link.tracklistlink(ng-click="transPage($event, musicset.id)")
        a.md-button(href="#" flex layout="row" ng-class="{active : current == musicset.id}")
          .name(ng-bind="musicset.listname")
          .count(ng-bind="musicset.count")
