* {
  box-sizing: border-box;
}
html, body, #content, #wrapper { height: 100%; }
body {
  margin: 0;
  color: #4D2B8C;
}
#content {
  position: absolute;
  width: 100%;
}
#wrapper {
  position: absolute;
  width: 100%;
}
div {
  /*border: 1px solid #faa;*/
}
#player {
  position: fixed;
  z-index: 9;
  background: #fff;
}
#player-bar {
  background: #4D2B8C;

  &>div {
    padding: 0;
  }
}
.playerside {
  background: #4D2B8C;
  height: 42px;
}
#navi {
  position: absolute;
  border-bottom: 1px solid rgba(77, 43, 140, 0.2);
  top: 42px;
  background: #fff;
  width: 100%;
  height: 35px;
  padding-top: 5px;
}
a {
  color: #4D2B8C;
}
.nav-pills>li>a {
  padding: 2px 14px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background: #79589F;
}
.cell {
  display: table-cell;
}
#logo {
  width: 160px;
  height: 42px;
}

.sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  overflow: auto;
  padding-top: 77px;
  background: rgba(77, 43, 140, 0.1);
  border-right: 1px solid #ddd;

  .category {
    padding-left: 12px;
    font-size: 14px;
    color: #888;
  }
  ul {
     padding-left: 0px;
  }
  li {
    padding-left: 12px;
    list-style: none;
    line-height: 1.8;

    &:hover {
      background: #DAD5E8;
      cursor: pointer;
    }
    &:hover a {
      text-decoration: underline;
    }
    &.active {
      color: #fff;
      background: #4D2B8C;
    }
    &.active a {
      color: #fff;
    }
    &:before {
      font-family: 'Glyphicons Halflings';
      padding-right: 4px;
      position: relative;
      top: 1px;
    }
    &.music:before {
      content: "\e002";
    }
    &.tower:before {
      content: "\e184";
    }
    &.disc:before {
      content: "\e201";
    }
    &.tag:before {
      content: "\e041";
    }
    &.star:before {
      content: "\e006";
    }
  }
}

.main {
  padding-top: 77px;
  margin-left: 250px;
}
.sm2-bar-ui {
  border-radius: 0 !important;

  .sm2-main-controls,
  .sm2-playlist-drawer {
    background-color: #4D2B8C !important;
  }
}

.listinfo {
  padding: 1px 0 1px 20px;
  background: #f8f8f8;

  h2 {
    margin-top: 10px;
  }
}

#musiclist {
  .track {
    display: none;
  }
  &.table-hover>tbody>tr:hover {
    background: rgba(77, 43, 140, 0.15);
  }
  th {
    font-size: 12px;
    border-bottom: 1px solid #ddd;
  }
  &>tbody>tr>td {
    border: 0;
  }
  tr.active td {
    color: #fff;
    background: #4D2B8C;
  }
  td.title:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  button.download {
    font-size: 11px;
    letter-spacing: -0.15em;
    color: #4D2B8C;
    /*background-color: rgba(77, 43, 140, 0.1);*/
    border-color: #79589F;

    &:before {
      content: "\e197";
      font-size: 11px;
      font-family: 'Glyphicons Halflings';
      padding-right: 4px;
      position: relative;
      top: 1px;
    }
    &.btn-default.active,
    &.btn-default.focus,
    &.btn-default:active,
    &.btn-default:focus,
    &.btn-default:hover,
    &.open>.dropdown-toggle.btn-default {
      color: #fff;
      background: #62449A;
    }
  }

  .tag {
    font-size: 11px;
    letter-spacing: -0.15em;
    background: #fdd;
    padding: 6px 10px;
    margin: 0 4px;
    border-radius: 2px;

    &:before {
      content: "\e041";
      font-size: 11px;
      font-family: 'Glyphicons Halflings';
      padding-right: 4px;
      position: relative;
      top: 1px;
    }
  }
}
