* {
  box-sizing: border-box;
}
html, body, #content, #wrapper { height: 100%; }
body {
  margin: 0;
  color: #4D2B8C;
}
#content {
  position: absolute;
  width: 100%;
}
#wrapper {
  position: absolute;
  width: 100%;
}
div {
  /*border: 1px solid #faa;*/
}
#player {
  position: fixed;
  z-index: 9;
  background: #fff;
}
#player-bar>div {
  padding: 0;
}
.playerside {
  background: #4D2B8C;
}
#navi {
  height: 30px;
  border-bottom: 1px solid rgba(77, 43, 140, 0.2);
}
a {
  color: #4D2B8C;
}
.nav-pills>li>a {
  padding: 2px 14px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background: #79589F;
}
.cell {
  display: table-cell;
}
.playerside {
  height: 42px;
}
#logo {
  width: 160px;
  height: 42px;
}
.sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  overflow: auto;
  padding-top: 77px;
  background: rgba(77, 43, 140, 0.1);
  border-right: 1px solid #ddd;
}
.sidebar .category {
  padding-left: 12px;
  font-size: 14px;
  color: #888;
}
.sidebar ul {
   padding-left: 0px;
}
.sidebar li {
  padding-left: 12px;
  list-style: none;
  line-height: 1.8;
}
.sidebar li:hover {
  background: #DAD5E8;
  cursor: pointer;
}
.sidebar li:hover a {
  text-decoration: underline;
}
.sidebar li.active {
  color: #fff;
  background: #4D2B8C;
}
.sidebar li.active a {
  color: #fff;
}
.sidebar li:before {
  font-family: 'Glyphicons Halflings';
  padding-right: 4px;
  position: relative;
  top: 1px;
}
.sidebar li.music:before {
  content: "\e002";
}
.sidebar li.tower:before {
  content: "\e184";
}
.sidebar li.disc:before {
  content: "\e201";
}
.sidebar li.tag:before {
  content: "\e041";
}
.sidebar li.star:before {
  content: "\e006";
}

.main {
  padding-top: 77px;
  margin-left: 250px;
}
.sm2-bar-ui {
  border-radius: 0 !important;
}
.sm2-bar-ui .sm2-main-controls,
.sm2-bar-ui .sm2-playlist-drawer {
  background-color: #4D2B8C !important;
}
.listinfo {
  padding: 1px 0 1px 20px;
  background: #f8f8f8;
}
.listinfo h2 {
  margin-top: 10px;
}
#musiclist.table-hover>tbody>tr:hover {
  background: rgba(77, 43, 140, 0.15);
}
#musiclist th {
  font-size: 12px;
  border-bottom: 1px solid #ddd;
}
#musiclist.table>tbody>tr>td {
  border: 0;
}
#musiclist tr.active td {
  color: #fff;
  background: #4D2B8C;
}
#musiclist td.title:hover {
  text-decoration: underline;
  cursor: pointer;
}
#musiclist button.download {
  font-size: 11px;
  letter-spacing: -0.15em;
  color: #4D2B8C;
  /*background-color: rgba(77, 43, 140, 0.1);*/
  border-color: #79589F;
}
#musiclist button.download:before {
  content: "\e197";
  font-size: 11px;
  font-family: 'Glyphicons Halflings';
  padding-right: 4px;
  position: relative;
  top: 1px;
}
#musiclist button.download.btn-default.active,
#musiclist button.download.btn-default.focus,
#musiclist button.download.btn-default:active,
#musiclist button.download.btn-default:focus,
#musiclist button.download.btn-default:hover,
#musiclist button.download.open>.dropdown-toggle.btn-default {
  color: #fff;
  background: #62449A;
}
