.docs-logo {
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
  padding: 0 0 20px;
  margin: 0 auto;
}
.docs-logo > img {
  width: 150px;
  height: 150px;
  margin: 25px auto 10px;
  display: block;
}
.docs-logo:focus {
  outline: none;
}
.docs-logo .docs-logotype {
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 26px;
  margin: 0;
}
.docs-logo .author {
  color: #aaa;
  margin: 0;
  line-height: 1;
  font-size: .8em;
}
.nav-header {
  background-color: #1812A8;
  background: linear-gradient(#01014B, #1812A8);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #01014B), color-stop(1, #1812A8));
  background: -webkit-linear-gradient(top, #01014B 0%, #1812A8 100%);
  background: -moz-linear-gradient(top, #01014B 0%, #1812A8 100%);
  background: linear-gradient(top, #01014B 0%, #1812A8 100%);
  border-bottom: 1px solid #1B15C6;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  z-index: 2;
}
#download {
  height: auto;
  background: url(/assets/sono_dark.png) center center / cover no-repeat fixed;
  padding-bottom: 40px;
}
#download .container {
  max-width: 600px;
  margin: 1.5em auto;
  background-color: #fff;
  border-radius: 4px;
}
#download .container .inner {
  padding: 2em 2em 1em;
}
#download .container .inner h2 {
  text-align: center;
}
#download .container .inner h2 .time {
  font-size: smaller;
  color: gray;
  margin-left: 1em;
}
#download .container .md-button:hover,
#download .container .md-button:focus {
  background-color: rgba(158, 158, 158, 0.2);
  border-radius: 3px;
}
#download .container #download_btn {
  color: #ffffff;
  background-color: #ff4081;
  border-radius: 3px;
  margin-bottom: 2em;
}
#download .container .rule {
  margin: 0 .5em;
  min-height: 32px;
  line-height: 32px;
}
#download .taglist {
  text-align: center;
}
#download .taglist .tag {
  min-width: inherit;
  min-height: inherit;
  padding: 2px 4px;
  line-height: 1.5;
  font-size: 85%;
  color: #777;
  margin: 0 .6em 0 0;
  letter-spacing: -0.1em;
  border: 1px solid #bbb;
  border-radius: 3px;
}
#download .adsense {
  margin: 1em;
  padding: 1em;
}
#download .adsense .adsbygoogle {
  display: block !important;
  margin: auto;
  background-color: #eee;
}
#download.smartphone .container {
  margin: 15px 10px;
}
#download.smartphone .container .inner {
  padding: 10px;
}
#download.smartphone p {
  font-size: 1.4rem;
}
#download.smartphone .sm2-bar-ui {
  min-width: inherit;
}
#download.smartphone .adsense {
  margin: 1em auto;
  padding: 1em 0;
}
md-toolbar .sm2player-toolbar {
  background-color: #1812A8;
}
.sm2-bar-ui .bd {
  background-color: transparent !important;
}
.sm2-bar-ui .sm2-inline-element,
.sm2-bar-ui a {
  border: 0 !important;
}
.sm2-bar-ui .sm2-playlist ul li {
  line-height: 1;
}
.sm2player {
  background-color: rgba(10, 0, 30, 0.7);
  background-image: none;
}
.sm2player .play-pause {
  cursor: pointer;
}
.sm2player .sm2-progress .sm2-progress-track {
  background-color: rgba(255, 255, 255, 0.15);
}
