body {
  -webkit-font-smoothing: antialiased;
  background-color: #303030;
  font-family: Roboto, sans-serif;
  margin: 0;
}
.playing {
  background-color: rgba(255, 255, 255, 0.05);
}
.playing .fab {
  animation: sound-playing 5s ease-out infinite;
}
@keyframes sound-playing {
  0% {
    background-color: #69c3ef;
  }
  50% {
    background-color: #c3e7f9;
  }
  100% {
    background-color: #69c3ef;
  }
}
a[href="/about/"] {
  display: flex;
  justify-content: center;
  padding: 16px;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}
a[href="/about/"]:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
#about {
  color: rgba(255, 255, 255, 0.87);
}
.docs-logo {
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
  padding: 0 0 20px;
  margin: 0 auto;
  text-decoration: none;
}
.docs-logo:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.docs-logo > img {
  width: 150px;
  height: 150px;
  margin: 25px auto 10px;
  display: block;
}
.docs-logo:focus {
  outline: none;
}
.docs-logo .docs-logotype {
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 26px;
  margin: 0;
}
.docs-logo .author {
  color: #aaa;
  margin: 0;
  line-height: 1;
  font-size: .8em;
}
.nav-header {
  border-radius: 3px 3px 0 0;
  background-color: #1812A8;
  background: linear-gradient(#01014B, #1812A8);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #01014B), color-stop(1, #1812A8));
  background: -webkit-linear-gradient(top, #01014B 0%, #1812A8 100%);
  background: -moz-linear-gradient(top, #01014B 0%, #1812A8 100%);
  background: linear-gradient(top, #01014B 0%, #1812A8 100%);
  border-bottom: 1px solid #1B15C6;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  z-index: 2;
}
#download,
#about {
  height: auto;
  background: url(/assets/sono_dark.png) center center / cover no-repeat fixed;
  padding-bottom: 40px;
}
#download .container,
#about .container {
  max-width: 600px;
  margin: 1.5em auto;
  background-color: #fff;
  border-radius: 4px;
}
#about .about-body {
  padding: 2em;
  color: #333;
}
#about .about-body table td:first-child {
  width: 100px;
  color: #999;
}
#about .about-body h2 {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.05);
}
#about .about-body h3 {
  margin-bottom: .5em;
}
#about .about-body p {
  margin-top: .5em;
}
#about .avatar {
  display: block;
  float: right;
  margin: .5em 0 1.5em 2em;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-sizing: content-box;
}
