md-content.docs-menu
  header.nav-header
    a.docs-logo(href="#" ng-click="logoClick($event)")
      img(src="logo.png")
      h1.docs-logotype.md-heading 音の園
      h3.author music by ANDY

  ul.menu-toggle-list
    li
      menu-link.tracklistlink(ng-click="transPage($event, 'about')")
        a.md-button(href="#" flex layout="row" ng-class="{'active' : isSelected()}")
          .name このサイトについて・利用規約

  h2.menu-heading.md-subhead ゲームジャンル
  ul.menu-toggle-list
    li.tower(ng-repeat=("musicset in listset.genrelist"))
      menu-link.tracklistlink(ng-click="transPage($event, musicset.id)")
        a.md-button(href="#" flex layout="row" ng-class="{'active' : isSelected()}")
          .name(ng-bind="musicset.name")
          .count(ng-bind="musicset.count")

  h2.menu-heading.md-subhead テイスト
  ul.menu-toggle-list
    li.music(ng-repeat=("musicset in listset.tastelist"))
      menu-link.tracklistlink(ng-click="transPage($event, musicset.id)")
        a.md-button(href="#" flex layout="row" ng-class="{'active' : isSelected()}")
          .name(ng-bind="musicset.name")
          .count(ng-bind="musicset.count")

  h2.menu-heading.md-subhead シーン
  ul.menu-toggle-list
    li.music(ng-repeat=("musicset in listset.scenelist"))
      menu-link.tracklistlink(ng-click="transPage($event, musicset.id)")
        a.md-button(href="#" flex layout="row" ng-class="{'active' : isSelected()}")
          .name(ng-bind="musicset.name")
          .count(ng-bind="musicset.count")

  h2.menu-heading.md-subhead 利用規約
  h2.menu-heading.md-subhead 作曲依頼
