doctype html
html

  head
    meta(charset="utf-8")
    block title
    block meta
    include /app/_layouts/head.jade

  body#download

    header.nav-header
      a.docs-logo(href="/")
        img(src="/assets/logo.png")
        h1.docs-logotype.md-heading 音の園
        h3.author music by ANDY
    
    .container
      .inner
        block track

      section
        #download_btn
          i(class="material-icons") file_download
          span MP3ファイルのダウンロード

      section
        a(href="http://creativecommons.org/licenses/by/4.0/" rel="license" style="width:88px;height:31px;" target="_blank")
          img(alt="クリエイティブ・コモンズ・ライセンス" src="https://i.creativecommons.org/l/by/4.0/88x31.png")
        button
          span 利用規約

      .adsense.
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- レクタングル大 -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:300px;height:250px"
             data-ad-client="ca-pub-2432681339204841"
             data-ad-slot="4768748211"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    script(src="/assets/vendor/soundmanager2-jsmin.js")
    script(src="/assets/FileSaver.min.js")
    script(src="/assets/js/tunes.js")
    script(src="/assets/bar-ui/script/bar-ui.js")
    script(src="/assets/js/download.js")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-66233589-1', 'auto');
      ga('send', 'pageview');

    block tunescript
