extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title @title@ - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('@desc@', @tags@)

block track
  .trackdetail#track_id(data-track="@id@")
    +tracktitle("@title@", "@time@")

    p.taglist
      +taglist(@tags@)

    include /app/_layouts/player.jade

    p
      | @desc@

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("@id@", "@title@")
