extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title Fly! - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('当サイト(音の園)を作ってくれている友人と「ゲームエンジンを使って、何か簡単なゲームを作ってみよう」という流れで作った曲です。ファミコンテイストの音源を用いて作った簡単なシューティングゲームのループサウンドです。実用性は低いので、参考曲までに。', ["その他", "8bit", "明るい", "疾走感"])

block track
  .trackdetail#track_id(data-track="8bit_fly")
    +tracktitle("Fly!", "0:10")

    p.taglist
      +taglist(["その他", "8bit", "明るい", "疾走感"])

    include /app/_layouts/player.jade

    p
      | 当サイト(音の園)を作ってくれている友人と「ゲームエンジンを使って、何か簡単なゲームを作ってみよう」という流れで作った曲です。ファミコンテイストの音源を用いて作った簡単なシューティングゲームのループサウンドです。実用性は低いので、参考曲までに。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("8bit_fly", "Fly!")
