extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 捜査開始 (8bit) - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('当サイトの「Main Street ~捜査開始~」という曲をファミコンテイストで表現したらどんな感じかな？という好奇心により生み出されました。恥ずかしいですが「成長の記録」としてアップしておきます。ファミコン音源、スーファミ音源などのリメイク音源の比較が面白いように、同タイトル曲の聞き比べをしてみると面白いかも？', ["探偵", "8bit"])

block track
  .trackdetail#track_id(data-track="8bit_sousakaishi")
    +tracktitle("捜査開始 (8bit)", "0:19")

    p.taglist
      +taglist(["探偵", "8bit"])

    include /app/_layouts/player.jade

    p
      | 当サイトの「Main Street ~捜査開始~」という曲をファミコンテイストで表現したらどんな感じかな？という好奇心により生み出されました。恥ずかしいですが「成長の記録」としてアップしておきます。ファミコン音源、スーファミ音源などのリメイク音源の比較が面白いように、同タイトル曲の聞き比べをしてみると面白いかも？

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("8bit_sousakaishi", "捜査開始 (8bit)")
