extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title ステージ２ - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('その名も「ステージ2」 15分くらいで作ったループサウンドです。一応上げときます。', ["その他", "8bit", "明るい", "疾走感"])

block track
  .trackdetail#track_id(data-track="8bit_stage2")
    +tracktitle("ステージ２", "0:11")

    p.taglist
      +taglist(["その他", "8bit", "明るい", "疾走感"])

    include /app/_layouts/player.jade

    p
      | その名も「ステージ2」 15分くらいで作ったループサウンドです。一応上げときます。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("8bit_stage2", "ステージ２")
      $(document).on "click", ".play-pause" , ->
        Tunes.play '1'
