extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title レトロタイトル - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('当サイト(音の園)を作ってくれている友人が「次はこんなん作ってみた」という何気ない一言により「分かった」とこちらも応戦して作った曲です。意外とまともな感じで出来たので、「成長の記録」と割り切って記念にアップしておきます。実用性は低いので、参考曲までに。', ["その他","8bit"])

block track
  .trackdetail#track_id(data-track="8bit_retrotitle")
    +tracktitle("レトロタイトル", "0:19")

    p.taglist
      +taglist(["その他","8bit"])

    include /generate/download/player.jade

    p
      | 当サイト(音の園)を作ってくれている友人が「次はこんなん作ってみた」という何気ない一言により「分かった」とこちらも応戦して作った曲です。意外とまともな感じで出来たので、「成長の記録」と割り切って記念にアップしておきます。実用性は低いので、参考曲までに。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("8bit_retrotitle", "レトロタイトル")
