extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title ロックマン５ ステージセレクト - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('「30分で何かコピーして」という当サイト(音の園)を作ってくれてる友人の何気ない一言により、生み出されたナンバー。慣れないファミコンサウンドの音色作りに意外と手こずり、結局1時間くらいやってました。なぜこの曲を選択したのかは、私にも一切身に覚えがありません。まぁロックマンは大好きなのですが（笑）', ["その他", "8bit", "カバー"])

block track
  .trackdetail#track_id(data-track="8bit_rockman5")
    +tracktitle("ロックマン５ ステージセレクト", "0:17")

    p.taglist
      +taglist(["その他", "8bit", "カバー"])

    include /app/_layouts/player.jade

    p
      | 「30分で何かコピーして」という当サイト(音の園)を作ってくれてる友人の何気ない一言により、生み出されたナンバー。慣れないファミコンサウンドの音色作りに意外と手こずり、結局1時間くらいやってました。なぜこの曲を選択したのかは、私にも一切身に覚えがありません。まぁロックマンは大好きなのですが（笑）

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("8bit_rockman5", "ロックマン５ ステージセレクト")
