extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title アフター５ - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('当サイト「夏草」のアレンジです。 夏草とはまた違った夕暮れ時を表現してみました。どちらかというと、少し清々しい雰囲気で、一日の何かひと仕事終えた後ようなイメージです。', ["夏恋", "穏やか"])

block track
  .trackdetail#track_id(data-track="After5")
    +tracktitle("アフター５", "2:02")

    p.taglist
      +taglist(["夏恋", "穏やか"])

    include /app/_layouts/player.jade

    p
      | 当サイト「夏草」のアレンジです。 夏草とはまた違った夕暮れ時を表現してみました。どちらかというと、少し清々しい雰囲気で、一日の何かひと仕事終えた後ようなイメージです。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("After5", "アフター５")
