extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 愛を伝える言葉 - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block track
  .trackdetail#track_id(data-track="Aiwotsutaerukotoba")
    +tracktitle("愛を伝える言葉", "2:08")

    p.taglist
      +taglist(["夏恋", "ピアノ"])

    p
      | 告白するのは勇気が要りますし、愛を伝えるのは簡単ではありません。そんな胸が詰まりそうな想いをイメージしました。少しメロディが高めですが、そこも「胸が詰まって言葉が出ない」ような雰囲気を出そうとした結果なのですが。。。私にもそんな時代がありました。遥か昔の話です。(遠い目)
