extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title Alone - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('孤独。一人ぼっちという意味だけでなく、例えその場に複数の人間がいたといても「孤立」してしまっている状態。そこには信用も信頼も無く、あるのは疑いの眼差しと不安な心だけ。', ["時の館", "緊張感", "暗い"])

block track
  .trackdetail#track_id(data-track="Alone")
    +tracktitle("Alone", "2:14")

    p.taglist
      +taglist(["時の館", "緊張感", "暗い"])

    include /app/_layouts/player.jade

    p
      | 孤独。一人ぼっちという意味だけでなく、例えその場に複数の人間がいたといても「孤立」してしまっている状態。そこには信用も信頼も無く、あるのは疑いの眼差しと不安な心だけ。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Alone", "Alone")
