extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title Approach - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('シューティングカテゴリ行きでしたが、正直パズルゲームでも良いかと思ってます。ぶっちゃけテトリスの動画見ながら作ってましたので。ステージ10を越えてきたあたりでしょうか...。', ["エレクトロン", "サイバー", "疾走感"])

block track
  .trackdetail#track_id(data-track="Approach")
    +tracktitle("Approach", "3:44")

    p.taglist
      +taglist(["エレクトロン", "サイバー", "疾走感"])

    include /app/_layouts/player.jade

    p
      | シューティングカテゴリ行きでしたが、正直パズルゲームでも良いかと思ってます。ぶっちゃけテトリスの動画見ながら作ってましたので。ステージ10を越えてきたあたりでしょうか...。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Approach", "Approach")
      $(document).on "click", ".play-pause" , ->
        Tunes.play '1'
