extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title あったかシチュー - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('デイリーミュージックと謳い、質とかあんまり考えずに前向きに「１日何か曲を作ろう！」と言って作った第一弾です。しかし悲しいことに、このプロジェクトはわずか2日にて終了します。人間の本質である「怠慢」を思い知らされた時期でした。「今も」ですが。', ["その他", "穏やか"])

block track
  .trackdetail#track_id(data-track="AttakaShichu")
    +tracktitle("あったかシチュー", "1:27")

    p.taglist
      +taglist(["その他", "穏やか"])

    include /app/_layouts/player.jade

    p
      | デイリーミュージックと謳い、質とかあんまり考えずに前向きに「１日何か曲を作ろう！」と言って作った第一弾です。しかし悲しいことに、このプロジェクトはわずか2日にて終了します。人間の本質である「怠慢」を思い知らされた時期でした。「今も」ですが。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("AttakaShichu", "あったかシチュー")
      $(document).on "click", ".play-pause" , ->
        Tunes.play '1'
