extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title Audience with the King - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block track
  .trackdetail#track_id(data-track="AudienceWithTheKing")
    +tracktitle("Audience with the King", "3:33")

    p.taglist
      +taglist(["バロック", "壮大", "明るい"])

    p
      | イントロのトランペットのファンファーレが印象的な曲です。「王様」「王国」「お城」「兵士」こんなキーワードをイメージしました。王国はもちろん、城の中や、王様との謁見中などにも使用できるかと思います。平和な王国ではなく、戦乱の中において緊張感のある戦況、状態の王国がイメージできます。
