extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title バトルフィールド - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('「作戦通り行くぞ」「やってるやってる、さぁ〜てオレらも参戦しますかね」「敵襲です!!」そんなキャラクターたちの声が聞こえてきそうなお気に入りの一曲です。実際のバトルとまではいかず、その手前や状況までを演出するときにいかがでしょう？この曲と「戦いの舞い」のセットがおすすめです。"', ["RPG","バトル","明るい"])

block track
  .trackdetail#track_id(data-track="BattleField")
    +tracktitle("バトルフィールド", "2:49")

    p.taglist
      +taglist(["RPG","バトル","明るい"])

    include /generate/download/player.jade

    p
      | 「作戦通り行くぞ」「やってるやってる、さぁ〜てオレらも参戦しますかね」「敵襲です!!」そんなキャラクターたちの声が聞こえてきそうなお気に入りの一曲です。実際のバトルとまではいかず、その手前や状況までを演出するときにいかがでしょう？この曲と「戦いの舞い」のセットがおすすめです。"

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("BattleField", "バトルフィールド")
