extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title Charge the Enemy - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('一定の躍動感のある状況でありながら、静けさの後に襲ってくる襲撃にプレイヤーたちは次ぎなる作戦を実行する。静と動が入り交じる戦い。さあ、作戦開始だ！', ["バロック", "壮大", "疾走感"])

block track
  .trackdetail#track_id(data-track="ChargetheEnemy")
    +tracktitle("Charge the Enemy", "4:36")

    p.taglist
      +taglist(["バロック", "壮大", "疾走感"])

    include /generate/download/player.jade

    p
      | 一定の躍動感のある状況でありながら、静けさの後に襲ってくる襲撃にプレイヤーたちは次ぎなる作戦を実行する。静と動が入り交じる戦い。さあ、作戦開始だ！

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("ChargetheEnemy", "Charge the Enemy")
