extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 戦い - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('', ["ゲーム音楽カバー","Chrono Trigger"])

block track
  .trackdetail#track_id(data-track="ChronoTriggerBattle1BV")
    +tracktitle("戦い", "3:59")

    p.taglist
      +taglist(["ゲーム音楽カバー","Chrono Trigger"])

    include /generate/download/player.jade

    p
      | 

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("ChronoTriggerBattle1BV", "戦い")
