extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title Corpse -遺体- - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('', ["Last Month", "神秘的"])

block track
  .trackdetail#track_id(data-track="Corpse")
    +tracktitle("Corpse -遺体-", "1:54")

    p.taglist
      +taglist(["Last Month", "神秘的"])

    include /app/_layouts/player.jade

    p
      | 

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Corpse", "Corpse -遺体-")
