extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title Dark Castle - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('ダークでサイバーな空間を演出してみたかったのですが、Coolな雰囲気と同時にWildな殺気も漂ってしまいました。若干「ムサ苦しい」雰囲気も混じってる気が... 実は当サイトの「黒い風」のアレンジだったりします。ミノタウロスでも出てきそうな雰囲気〜。', ["バロック", "緊張感", "サイバー"])

block track
  .trackdetail#track_id(data-track="DarkCastle")
    +tracktitle("Dark Castle", "2:23")

    p.taglist
      +taglist(["バロック", "緊張感", "サイバー"])

    include /app/_layouts/player.jade

    p
      | ダークでサイバーな空間を演出してみたかったのですが、Coolな雰囲気と同時にWildな殺気も漂ってしまいました。若干「ムサ苦しい」雰囲気も混じってる気が... 実は当サイトの「黒い風」のアレンジだったりします。ミノタウロスでも出てきそうな雰囲気〜。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("DarkCastle", "Dark Castle")
      $(document).on "click", ".play-pause" , ->
        Tunes.play '1'
