extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title Darkness -闇- - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('', ["Last Month","神秘的"])

block track
  .trackdetail#track_id(data-track="Darkness")
    +tracktitle("Darkness -闇-", "1:54")

    p.taglist
      +taglist(["Last Month","神秘的"])

    include /generate/download/player.jade

    p
      | 

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Darkness", "Darkness -闇-")
