extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 冒険の記録をここに… - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('', ["DECISION","エンディング","壮大"])

block track
  .trackdetail#track_id(data-track="decision-boukennokirokuwokokohe")
    +tracktitle("冒険の記録をここに…", "2:42")

    p.taglist
      +taglist(["DECISION","エンディング","壮大"])

    include /generate/download/player.jade

    p
      | 

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("decision-boukennokirokuwokokohe", "冒険の記録をここに…")
