extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 未開の地へ - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('', ["DECISION","穏やか","神秘的","安らぎ"])

block track
  .trackdetail#track_id(data-track="decision-mikainochihe")
    +tracktitle("未開の地へ", "2:51")

    p.taglist
      +taglist(["DECISION","穏やか","神秘的","安らぎ"])

    include /generate/download/player.jade

    p
      | 

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("decision-mikainochihe", "未開の地へ")
