extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 水都リーベル - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('港町の1日をイメージして書きました。人々の行き交う楽しい雰囲気や、海を感じさせるような構成が気に入っています。', ["DECISION","明るい","穏やか"])

block track
  .trackdetail#track_id(data-track="decision-river")
    +tracktitle("水都リーベル", "3:40")

    p.taglist
      +taglist(["DECISION","明るい","穏やか"])

    include /generate/download/player.jade

    p
      | 港町の1日をイメージして書きました。人々の行き交う楽しい雰囲気や、海を感じさせるような構成が気に入っています。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("decision-river", "水都リーベル")
