extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title ソードダンサー - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('初めて書いた「5拍子」で展開するオーケストラのバトル曲です。サビは剣が舞うような疾走感のある、そんなイメージで書きました。正直ゲームにはとても使えないような仕上がりですが、インスト曲として聴く分には面白い風に出来たと思っています。', ["DECISION","バトル","壮大"])

block track
  .trackdetail#track_id(data-track="decision-sworddancer")
    +tracktitle("ソードダンサー", "3:19")

    p.taglist
      +taglist(["DECISION","バトル","壮大"])

    include /generate/download/player.jade

    p
      | 初めて書いた「5拍子」で展開するオーケストラのバトル曲です。サビは剣が舞うような疾走感のある、そんなイメージで書きました。正直ゲームにはとても使えないような仕上がりですが、インスト曲として聴く分には面白い風に出来たと思っています。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("decision-sworddancer", "ソードダンサー")
