extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 風の大地 - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('冒険が中盤に差し掛かったあたりに流れるフィールド曲のイメージで書きました。疾走感漂う、勢いのあるメロディがとても気に入ってます。', ["DECISION","オープニング","明るい","疾走感"])

block track
  .trackdetail#track_id(data-track="decision-kazenodaichi")
    +tracktitle("風の大地", "3:10")

    p.taglist
      +taglist(["DECISION","オープニング","明るい","疾走感"])

    include /generate/download/player.jade

    p
      | 冒険が中盤に差し掛かったあたりに流れるフィールド曲のイメージで書きました。疾走感漂う、勢いのあるメロディがとても気に入ってます。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("decision-kazenodaichi", "風の大地")
