extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 光と闇の狭間へ - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('クラシック的な様式美な響きを持った壮大な曲です。初期に書いた曲でドライブ感のある展開、メロディで、自分でもなかなか作ろうにも作れないような個性的な曲だと思います。', ["DECISION","オープニング","疾走感","壮大"])

block track
  .trackdetail#track_id(data-track="decision-hikaritoyaminohazamahe")
    +tracktitle("光と闇の狭間へ", "1:56")

    p.taglist
      +taglist(["DECISION","オープニング","疾走感","壮大"])

    include /generate/download/player.jade

    p
      | クラシック的な様式美な響きを持った壮大な曲です。初期に書いた曲でドライブ感のある展開、メロディで、自分でもなかなか作ろうにも作れないような個性的な曲だと思います。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("decision-hikaritoyaminohazamahe", "光と闇の狭間へ")
