extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 再会 - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('イベントシーンなどで流れるイメージで書きました。仲間と思わぬところで再会したような、穏やかな印象です。', ["DECISION","穏やか","明るい","安らぎ"])

block track
  .trackdetail#track_id(data-track="decision-saikai")
    +tracktitle("再会", "0:28")

    p.taglist
      +taglist(["DECISION","穏やか","明るい","安らぎ"])

    include /generate/download/player.jade

    p
      | イベントシーンなどで流れるイメージで書きました。仲間と思わぬところで再会したような、穏やかな印象です。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("decision-saikai", "再会")
