extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 冒険の記録をここに… - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('1時間で即興で作った曲で、映画音楽的なイメージで書きました。冒険の舞台に幕を降ろす曲です。', ["DECISION","エンディング","壮大"])

block track
  .trackdetail#track_id(data-track="decision-boukennokirokuwokokohe")
    +tracktitle("冒険の記録をここに…", "2:42")

    p.taglist
      +taglist(["DECISION","エンディング","壮大"])

    include /generate/download/player.jade

    p
      | 1時間で即興で作った曲で、映画音楽的なイメージで書きました。冒険の舞台に幕を降ろす曲です。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("decision-boukennokirokuwokokohe", "冒険の記録をここに…")
