extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 雪の国ネージュ - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('真っ白な雪の国が舞台です。「未開の地へ」のアレンジになります。壮大な一面を見せる雪国を表現しました。ホルンとハープが活躍します。', ["DECISION","神秘的","壮大"])

block track
  .trackdetail#track_id(data-track="decision-neige")
    +tracktitle("雪の国ネージュ", "2:26")

    p.taglist
      +taglist(["DECISION","神秘的","壮大"])

    include /generate/download/player.jade

    p
      | 真っ白な雪の国が舞台です。「未開の地へ」のアレンジになります。壮大な一面を見せる雪国を表現しました。ホルンとハープが活躍します。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("decision-neige", "雪の国ネージュ")
