extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 冒険の始まり - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('RPGのタイトル画面で流れているという想定で書きました。このピアノのアルペジオは手癖ではなく、完全に頭の中で鳴っていたものを引きずり出し具現化したものです。弾きにくいフレーズでしたが (笑)', ["DECISION","オープニング","神秘的","ピアノ"])

block track
  .trackdetail#track_id(data-track="decision-boukennohajimari")
    +tracktitle("冒険の始まり", "0:48")

    p.taglist
      +taglist(["DECISION","オープニング","神秘的","ピアノ"])

    include /generate/download/player.jade

    p
      | RPGのタイトル画面で流れているという想定で書きました。このピアノのアルペジオは手癖ではなく、完全に頭の中で鳴っていたものを引きずり出し具現化したものです。弾きにくいフレーズでしたが (笑)

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("decision-boukennohajimari", "冒険の始まり")
