extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title OVERTURE~序曲~ - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('オリジナルのゲーム音楽を作曲しようと決心して一番最初に書いた曲です。つまり私の作曲の「原点」と言っても過言ではない曲です。好きなものを詰め込み過ぎていますが、そのどれもがファンタジーらしさを表現しようとした結果です。', ["DECISION","オープニング","壮大"])

block track
  .trackdetail#track_id(data-track="decision-overture")
    +tracktitle("OVERTURE~序曲~", "3:00")

    p.taglist
      +taglist(["DECISION","オープニング","壮大"])

    include /generate/download/player.jade

    p
      | オリジナルのゲーム音楽を作曲しようと決心して一番最初に書いた曲です。つまり私の作曲の「原点」と言っても過言ではない曲です。好きなものを詰め込み過ぎていますが、そのどれもがファンタジーらしさを表現しようとした結果です。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("decision-overture", "OVERTURE~序曲~")
