extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 貿易都市トーラス - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('こちらも5拍子の独特なリズムが印象的な曲です。貿易都市をイメージして、後半は船の汽笛をホルンやストリングスの低音で表現してみました。よくまとまったのでかなりお気に入りです。', ["DECISION","明るい","疾走感"])

block track
  .trackdetail#track_id(data-track="decision-torus")
    +tracktitle("貿易都市トーラス", "2:57")

    p.taglist
      +taglist(["DECISION","明るい","疾走感"])

    include /generate/download/player.jade

    p
      | こちらも5拍子の独特なリズムが印象的な曲です。貿易都市をイメージして、後半は船の汽笛をホルンやストリングスの低音で表現してみました。よくまとまったのでかなりお気に入りです。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("decision-torus", "貿易都市トーラス")
