extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title クノッソス迷宮 - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('遺跡のテーマ。明るさと、暗さの両方を表現したかったダンジョン曲です。ストリングスの低音の雰囲気とか気に入ってます。', ["DECISION","暗い","神秘的","緊張感"])

block track
  .trackdetail#track_id(data-track="decision-kunossosu")
    +tracktitle("クノッソス迷宮", "3:17")

    p.taglist
      +taglist(["DECISION","暗い","神秘的","緊張感"])

    include /generate/download/player.jade

    p
      | 遺跡のテーマ。明るさと、暗さの両方を表現したかったダンジョン曲です。ストリングスの低音の雰囲気とか気に入ってます。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("decision-kunossosu", "クノッソス迷宮")
