extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title ダンジョン♯1 - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('「戦火」のアレンジの元となった曲。曲の雰囲気自体はゆったりしているので私的にRPGの「ダンジョン」などでも使用できる曲だと思います。洞窟系よりも、もう少し人工的な施設の奥深くへ侵入するイメージといいますか。良い場面があったら教えてください(笑)', ["RPG", "緊張感"])

block track
  .trackdetail#track_id(data-track="Dungeon1")
    +tracktitle("ダンジョン♯1", "1:49")

    p.taglist
      +taglist(["RPG", "緊張感"])

    include /app/_layouts/player.jade

    p
      | 「戦火」のアレンジの元となった曲。曲の雰囲気自体はゆったりしているので私的にRPGの「ダンジョン」などでも使用できる曲だと思います。洞窟系よりも、もう少し人工的な施設の奥深くへ侵入するイメージといいますか。良い場面があったら教えてください(笑)

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Dungeon1", "ダンジョン♯1")
