extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title Edge of the Steel - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('私はウィザードリィの音楽が好きで作曲者の「羽田健太郎」さんの作る世界観が大好きでした。その後も作曲者は違えど、同作品のコンセプトはやはりクラシックがテーマ。一度思いっきり「いかにもゲーム音楽っぽい、クラシックっぽい、オーケストラっぽいオープニング」を作ってみたいと思い試行錯誤、、、ちょっとピアノが活躍するコンチェルトちっくな感じになりましたが、、、中世の騎士たちが活躍する世界観をイメージしてもらえたなら本望です。', ["バロック", "オープニング"])

block track
  .trackdetail#track_id(data-track="EdgeOfTheSteel")
    +tracktitle("Edge of the Steel", "4:43")

    p.taglist
      +taglist(["バロック", "オープニング"])

    include /generate/download/player.jade

    p
      | 私はウィザードリィの音楽が好きで作曲者の「羽田健太郎」さんの作る世界観が大好きでした。その後も作曲者は違えど、同作品のコンセプトはやはりクラシックがテーマ。一度思いっきり「いかにもゲーム音楽っぽい、クラシックっぽい、オーケストラっぽいオープニング」を作ってみたいと思い試行錯誤、、、ちょっとピアノが活躍するコンチェルトちっくな感じになりましたが、、、中世の騎士たちが活躍する世界観をイメージしてもらえたなら本望です。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("EdgeOfTheSteel", "Edge of the Steel")
