extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 永眠の旋律 - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('', ["時の館", "暗い", "緊張感", "ピアノ"])

block track
  .trackdetail#track_id(data-track="Eiminnosenritsu")
    +tracktitle("永眠の旋律", "2:24")

    p.taglist
      +taglist(["時の館", "暗い", "緊張感", "ピアノ"])

    include /generate/download/player.jade

    p
      | 

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Eiminnosenritsu", "永眠の旋律")
