extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title Eternity - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('', ["夏恋","明るい","穏やか"])

block track
  .trackdetail#track_id(data-track="Eternity")
    +tracktitle("Eternity", "2:28")

    p.taglist
      +taglist(["夏恋","明るい","穏やか"])

    include /generate/download/player.jade

    p
      | 

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Eternity", "Eternity")
