extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title ファンファーレ - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('こちらは「ファンファーレのみ」となります。 ご了承くださいませ。', ["RPG", "壮大", "明るい"])

block track
  .trackdetail#track_id(data-track="Fanfare")
    +tracktitle("ファンファーレ", "0:20")

    p.taglist
      +taglist(["RPG", "壮大", "明るい"])

    include /generate/download/player.jade

    p
      | こちらは「ファンファーレのみ」となります。 ご了承くださいませ。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Fanfare", "ファンファーレ")
