extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title Fate - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('当サイトの「Prison Break」という曲のアレンジバージョンです。ゴリゴリなベースギターが主体のプログレッシヴロックな原曲に対し、しっとり系でアレンジしました。メロディのテーマは同じですので、物語の展開に応じて、静と動を演出する時なんかにオススメです。個人的に、人知を越えた絶句してしまうような神秘的、あるいは惨状的な場面などにオススメです。', ["時の館","緊張感","神秘的","エンディング"])

block track
  .trackdetail#track_id(data-track="Fate")
    +tracktitle("Fate", "3:02")

    p.taglist
      +taglist(["時の館","緊張感","神秘的","エンディング"])

    include /generate/download/player.jade

    p
      | 当サイトの「Prison Break」という曲のアレンジバージョンです。ゴリゴリなベースギターが主体のプログレッシヴロックな原曲に対し、しっとり系でアレンジしました。メロディのテーマは同じですので、物語の展開に応じて、静と動を演出する時なんかにオススメです。個人的に、人知を越えた絶句してしまうような神秘的、あるいは惨状的な場面などにオススメです。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Fate", "Fate")
