extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 疑惑 - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('あんまり音楽用語とか興味ないかもですが「ホールトーン」っていう「不思議な音階」を使ったメロディの曲です。ちょっと怪しい空気や、不思議な雰囲気を出した時に便利なのです。ポールモールじゃないですよ。あれはタバコです。ちなみに私はタバコは一度も吸った事が無いし吸いません。ちなみにお酒も飲めません。(聞いてない)', ["探偵", "ピアノ"])

block track
  .trackdetail#track_id(data-track="Giwaku")
    +tracktitle("疑惑", "2:52")

    p.taglist
      +taglist(["探偵", "ピアノ"])

    include /generate/download/player.jade

    p
      | あんまり音楽用語とか興味ないかもですが「ホールトーン」っていう「不思議な音階」を使ったメロディの曲です。ちょっと怪しい空気や、不思議な雰囲気を出した時に便利なのです。ポールモールじゃないですよ。あれはタバコです。ちなみに私はタバコは一度も吸った事が無いし吸いません。ちなみにお酒も飲めません。(聞いてない)

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Giwaku", "疑惑")
