extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 轟音#2 - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('広い空洞に出た。館の地下にこんな空洞があるなんて...。まだまだ奥へ進めそうだ。風が吹いているからきっと抜け道はあるだろう。', ["時の館","緊張感","暗い"])

block track
  .trackdetail#track_id(data-track="Gouon2")
    +tracktitle("轟音#2", "1:55")

    p.taglist
      +taglist(["時の館","緊張感","暗い"])

    include /generate/download/player.jade

    p
      | 広い空洞に出た。館の地下にこんな空洞があるなんて...。まだまだ奥へ進めそうだ。風が吹いているからきっと抜け道はあるだろう。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Gouon2", "轟音#2")
