extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 轟音 - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('地下へ続く通路を見つけた。奥からすごい轟音が響く。一体この先に何があるのだろう...。確かめなければ...。', ["時の館","緊張感","暗い"])

block track
  .trackdetail#track_id(data-track="Gouon")
    +tracktitle("轟音", "1:55")

    p.taglist
      +taglist(["時の館","緊張感","暗い"])

    include /generate/download/player.jade

    p
      | 地下へ続く通路を見つけた。奥からすごい轟音が響く。一体この先に何があるのだろう...。確かめなければ...。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Gouon", "轟音")
