extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title Guilt - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('罪を犯す者、耐えきれなくなり告白する者、その運命を変える。そしてそれらに翻弄される者たち。裏切りと虚構の果てに、いつか本当の罪を分かち合える日は来るのだろうか。生き延びる為に、残された者たちは命と引き換えに罪を犯す。このクソ喰らえなデスゲームによって...。', ["時の館", "ピアノ", "緊張感", "暗い"])

block track
  .trackdetail#track_id(data-track="Guilt")
    +tracktitle("Guilt", "3:57")

    p.taglist
      +taglist(["時の館", "ピアノ", "緊張感", "暗い"])

    include /generate/download/player.jade

    p
      | 罪を犯す者、耐えきれなくなり告白する者、その運命を変える。そしてそれらに翻弄される者たち。裏切りと虚構の果てに、いつか本当の罪を分かち合える日は来るのだろうか。生き延びる為に、残された者たちは命と引き換えに罪を犯す。このクソ喰らえなデスゲームによって...。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Guilt", "Guilt")
