extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 裸の王様 - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('この曲を一言で表すなら「ガキ大将現る！」です。なのに一体なんでこの曲名になったのでしょうか...汗。', ["その他"])

block track
  .trackdetail#track_id(data-track="Hadakanoousama")
    +tracktitle("裸の王様", "1:20")

    p.taglist
      +taglist(["その他"])

    include /app/_layouts/player.jade

    p
      | この曲を一言で表すなら「ガキ大将現る！」です。なのに一体なんでこの曲名になったのでしょうか...汗。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Hadakanoousama", "裸の王様")
      $(document).on "click", ".play-pause" , ->
        Tunes.play '1'
