extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 白昼夢 - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('いわゆる「回想シーン」で使うことを想定したのですが、「回想その1」とかっていう曲名を付けるのがイヤでイヤで...多分曲名をあれこれ何回も変えてた時間の方が明らかに長いです。この曲名も若干微妙なのですが...。', ["夏恋","ピアノ","神秘的"])

block track
  .trackdetail#track_id(data-track="Hakuchuumu")
    +tracktitle("白昼夢", "1:33")

    p.taglist
      +taglist(["夏恋","ピアノ","神秘的"])

    include /generate/download/player.jade

    p
      | いわゆる「回想シーン」で使うことを想定したのですが、「回想その1」とかっていう曲名を付けるのがイヤでイヤで...多分曲名をあれこれ何回も変えてた時間の方が明らかに長いです。この曲名も若干微妙なのですが...。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Hakuchuumu", "白昼夢")
