extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 春色小町 - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('春がすぐそこまで来ているような「フワフワ」な雰囲気の曲です。テンポも遅めなのでゆったりとした時間を演出したい時にいかがでしょうか？？', ["和風短編曲集", "安らぎ", "穏やか", "明るい"])

block track
  .trackdetail#track_id(data-track="HaruiroKomachi")
    +tracktitle("春色小町", "1:55")

    p.taglist
      +taglist(["和風短編曲集", "安らぎ", "穏やか", "明るい"])

    include /app/_layouts/player.jade

    p
      | 春がすぐそこまで来ているような「フワフワ」な雰囲気の曲です。テンポも遅めなのでゆったりとした時間を演出したい時にいかがでしょうか？？

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("HaruiroKomachi", "春色小町")
