extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title Healing Voyager - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('Moog社の「Minimoog Voyager」っていうシンセサイザー（楽器の名前です）を買って何か一発曲を作りたいなぁ〜と作った曲です。可愛いくて癒し的な曲を作りたかったのですが、せめて名前だけでも癒しにしようと「ヒーリングボイジャー」と名付けました。出番が少なくなり便利なソフトウェア音源だけで完結しようと思い売ってしまいましたが、また機会があれば購入したいです。', ["その他", "神秘的"])

block track
  .trackdetail#track_id(data-track="HealingVoyager")
    +tracktitle("Healing Voyager", "2:50")

    p.taglist
      +taglist(["その他", "神秘的"])

    include /app/_layouts/player.jade

    p
      | Moog社の「Minimoog Voyager」っていうシンセサイザー（楽器の名前です）を買って何か一発曲を作りたいなぁ〜と作った曲です。可愛いくて癒し的な曲を作りたかったのですが、せめて名前だけでも癒しにしようと「ヒーリングボイジャー」と名付けました。出番が少なくなり便利なソフトウェア音源だけで完結しようと思い売ってしまいましたが、また機会があれば購入したいです。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("HealingVoyager", "Healing Voyager")
      $(document).on "click", ".play-pause" , ->
        Tunes.play '1'
