extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title Home -帰還- - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('', ["Last Month", "神秘的"])

block track
  .trackdetail#track_id(data-track="Home")
    +tracktitle("Home -帰還-", "1:54")

    p.taglist
      +taglist(["Last Month", "神秘的"])

    include /app/_layouts/player.jade

    p
      | 

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Home", "Home -帰還-")
