extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 異邦の地図 - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('未だ見ぬ土地へ、地図を片手に急ぎ足。その一歩を踏み出し、様々な感動に出会う。これぞ冒険者の醍醐味。', ["RPG","ファンタジー","明るい"])

block track
  .trackdetail#track_id(data-track="IhounoChizu")
    +tracktitle("異邦の地図", "2:00")

    p.taglist
      +taglist(["RPG","ファンタジー","明るい"])

    include /generate/download/player.jade

    p
      | 未だ見ぬ土地へ、地図を片手に急ぎ足。その一歩を踏み出し、様々な感動に出会う。これぞ冒険者の醍醐味。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("IhounoChizu", "異邦の地図")
