extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title In the Room - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('ゆったりと時間が流れているのは分かる、だけどここが不気味な場所であることは間違いない。でも、どこかこの旋律が落ち着くのはなぜ...。俺がこの空間に慣れてしまったからだろうか。あぁ、不気味だけどなぜか心地良い...。', ["時の館", "暗い"])

block track
  .trackdetail#track_id(data-track="IntheRoom")
    +tracktitle("In the Room", "2:14")

    p.taglist
      +taglist(["時の館", "暗い"])

    include /app/_layouts/player.jade

    p
      | ゆったりと時間が流れているのは分かる、だけどここが不気味な場所であることは間違いない。でも、どこかこの旋律が落ち着くのはなぜ...。俺がこの空間に慣れてしまったからだろうか。あぁ、不気味だけどなぜか心地良い...。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("IntheRoom", "In the Room")
