extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title Into the Depth - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('「Chaser」よりもテンポが速く、危機感が迫っている印象です。とりあえずまだまだゆっくり出来そうにありません。', ["エレクトロン", "サイバー", "疾走感"])

block track
  .trackdetail#track_id(data-track="IntoTheDepth")
    +tracktitle("Into the Depth", "1:39")

    p.taglist
      +taglist(["エレクトロン", "サイバー", "疾走感"])

    p
      | 「Chaser」よりもテンポが速く、危機感が迫っている印象です。とりあえずまだまだゆっくり出来そうにありません。
