extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title It's our turn - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('ずーっと一定のマーチリズムが続くので、シミュレーションRPGならプレイヤーターン、RPGなら「さぁ行くぞ！」みたいな場面がピッタリかも？ シミュレーションRPGと言えば、もちろん「ファイアーエムブレム」!! なのでちょっと参考にしてみました。それっぽいのお探しでしの方はぜひ。', ["バロック","壮大","明るい"])

block track
  .trackdetail#track_id(data-track="ItsOurTurn")
    +tracktitle("It's our turn", "3:04")

    p.taglist
      +taglist(["バロック","壮大","明るい"])

    include /generate/download/player.jade

    p
      | ずーっと一定のマーチリズムが続くので、シミュレーションRPGならプレイヤーターン、RPGなら「さぁ行くぞ！」みたいな場面がピッタリかも？ シミュレーションRPGと言えば、もちろん「ファイアーエムブレム」!! なのでちょっと参考にしてみました。それっぽいのお探しでしの方はぜひ。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("ItsOurTurn", "It's our turn")
