extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title いつものキミ - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('この曲は「音の園を立ち上げよう！」と決めた時に一番最初に作った曲なので思い入れがあります。私は元々ファンタジー系の曲が好きでそればっか作ってたので、恋愛ゲーム系の曲を作るのは初めてでした。 完成した時はもっと色々なジャンルの曲にも挑戦したいという前向きな気持ちにしてくれた曲です。ところで、この曲で一番こだわった部分は...ズバリ「曲名」です（笑）', ["夏恋","明るい"])

block track
  .trackdetail#track_id(data-track="Itsumonokimi")
    +tracktitle("いつものキミ", "3:05")

    p.taglist
      +taglist(["夏恋","明るい"])

    include /generate/download/player.jade

    p
      | この曲は「音の園を立ち上げよう！」と決めた時に一番最初に作った曲なので思い入れがあります。私は元々ファンタジー系の曲が好きでそればっか作ってたので、恋愛ゲーム系の曲を作るのは初めてでした。 完成した時はもっと色々なジャンルの曲にも挑戦したいという前向きな気持ちにしてくれた曲です。ところで、この曲で一番こだわった部分は...ズバリ「曲名」です（笑）

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Itsumonokimi", "いつものキミ")
