extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 奇襲 - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block track
  .trackdetail#track_id(data-track="Kishu")
    +tracktitle("奇襲", "1:49")

    p.taglist
      +taglist(["RPG", "緊張感"])

    p
      | 「戦火」のアレンジの元となった曲。「てんやわんや一歩手前」の曲ですが、曲の雰囲気自体はゆったりしているので私的にRPGの「ダンジョン」などでも使用できる曲だと思います。その為、随時曲名がコロコロ変わります。うーん、迷う。
