extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 木漏れ日和 - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('ギター曲です。「アコースティックギター」の音色は曲に暖かい雰囲気を与えてくれるのでお気に入りです。まぁ作曲する以上どんな楽器の音色も好きなんですけど(笑)ちょっとした日常の場面で流れていそうな感じですね。', ["夏恋","明るい","穏やか"])

block track
  .trackdetail#track_id(data-track="Komorebiyori")
    +tracktitle("木漏れ日和", "2:47")

    p.taglist
      +taglist(["夏恋","明るい","穏やか"])

    include /generate/download/player.jade

    p
      | ギター曲です。「アコースティックギター」の音色は曲に暖かい雰囲気を与えてくれるのでお気に入りです。まぁ作曲する以上どんな楽器の音色も好きなんですけど(笑)ちょっとした日常の場面で流れていそうな感じですね。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Komorebiyori", "木漏れ日和")
