extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 九月の蒼空 - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('「愛を伝える言葉」のキー(調)を少し下げたバージョンです。こちらの方がキーを下げた分、少し落ち着いて聴けますのでタイトル画面などにもおすすめです。あと回想シーンなどにも合うかもしれません。お好みでどうぞ♪', ["夏恋","ピアノ"])

block track
  .trackdetail#track_id(data-track="Kugatsunoaozora")
    +tracktitle("九月の蒼空", "2:08")

    p.taglist
      +taglist(["夏恋","ピアノ"])

    include /generate/download/player.jade

    p
      | 「愛を伝える言葉」のキー(調)を少し下げたバージョンです。こちらの方がキーを下げた分、少し落ち着いて聴けますのでタイトル画面などにもおすすめです。あと回想シーンなどにも合うかもしれません。お好みでどうぞ♪

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Kugatsunoaozora", "九月の蒼空")
