extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 黒い風 - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block track
  .trackdetail#track_id(data-track="Kuroikaze")
    +tracktitle("黒い風", "2:43")

    p.taglist
      +taglist(["和風短編曲集", "緊張感"])

    p
      | 聴いての通り不気味な感じの曲です。悪役サイドの回想時や、絶体絶命「2歩」手前くらいの場面で使用されるのがよろしいかと。。。もちろん寝る前に聴いていただいても全然OKです。（変な夢みても知りません）
