extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 街の灯火 - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('デイリーミュージック、2日目にして最後の曲。曲名通り儚くこのプロジェクトは終わりを告げます。毎日出来る事と言えば「息を吸う」「飯を食う」「寝る」「住む」...あと何かありますか？？', ["その他", "夜", "穏やか", "神秘的"])

block track
  .trackdetail#track_id(data-track="MachiNoTomoshibi")
    +tracktitle("街の灯火", "0:42")

    p.taglist
      +taglist(["その他", "夜", "穏やか", "神秘的"])

    p
      | デイリーミュージック、2日目にして最後の曲。曲名通り儚くこのプロジェクトは終わりを告げます。毎日出来る事と言えば「息を吸う」「飯を食う」「寝る」「住む」...あと何かありますか？？
