extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title Main Street ~捜査開始~ - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('私は探偵ゲームの「探偵神宮寺三郎」が大好きなんです。このゲームの作曲家「馳見Ace大地」さんの作るJAZZの世界観は本当に最高です。そんな感じで私も作ってみようと。ジャズポップテイストを私なりに解釈してハードボイルドなイメージを意識して出来たのがこんな感じの曲です。「どこへいく？」など、これから捜査を開始する時の移動画面や、メインストリートを歩く主人公、オープニングなどをイメージしました。「ファミコン探偵倶楽部」とか「EVEシリーズ」も大好きです。探偵はカッコいいんですよ。うん。', ["探偵", "オープニング"])

block track
  .trackdetail#track_id(data-track="MainStreetSousakaishi")
    +tracktitle("Main Street ~捜査開始~", "3:33")

    p.taglist
      +taglist(["探偵", "オープニング"])

    p
      | 私は探偵ゲームの「探偵神宮寺三郎」が大好きなんです。このゲームの作曲家「馳見Ace大地」さんの作るJAZZの世界観は本当に最高です。そんな感じで私も作ってみようと。ジャズポップテイストを私なりに解釈してハードボイルドなイメージを意識して出来たのがこんな感じの曲です。「どこへいく？」など、これから捜査を開始する時の移動画面や、メインストリートを歩く主人公、オープニングなどをイメージしました。「ファミコン探偵倶楽部」とか「EVEシリーズ」も大好きです。探偵はカッコいいんですよ。うん。
