extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title Opening Theme ~物語を紡ぐもの~ - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('「紡ぐ」という言葉、私は好きです。綺麗な言葉です。本来の意味は少し違う例えなのですが、一つの物語を紡ぐものたち、それは即ち、人であり、大地であり、時代であり、想いであり、モノであり、詩であり...と様々ですが、これが私の物語を「紡ぐ」イメージ。「もの」としたのは様々な意味に応用したかったからです。ファンタジーRPGのオープニングやタイトル画面で使って頂ければこんなに嬉しい事はありません。', ["RPG", "オープニング", "神秘的", "壮大"])

block track
  .trackdetail#track_id(data-track="MonogatariwoTsumugumono")
    +tracktitle("Opening Theme ~物語を紡ぐもの~", "3:47")

    p.taglist
      +taglist(["RPG", "オープニング", "神秘的", "壮大"])

    include /app/_layouts/player.jade

    p
      | 「紡ぐ」という言葉、私は好きです。綺麗な言葉です。本来の意味は少し違う例えなのですが、一つの物語を紡ぐものたち、それは即ち、人であり、大地であり、時代であり、想いであり、モノであり、詩であり...と様々ですが、これが私の物語を「紡ぐ」イメージ。「もの」としたのは様々な意味に応用したかったからです。ファンタジーRPGのオープニングやタイトル画面で使って頂ければこんなに嬉しい事はありません。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("MonogatariwoTsumugumono", "Opening Theme ~物語を紡ぐもの~")
