extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 夏祭り - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block track
  .trackdetail#track_id(data-track="NatsuMatsuri")
    +tracktitle("夏祭り", "2:33")

    p.taglist
      +taglist(["和風短編曲集", "夜", "明るい"])

    p
      | お祭りと言えば世界各国、様々な様式で行われますが、やっぱり日本の祭りの雰囲気はひと味もふた味も違います。祭り自体が行われる「場所」に意味があり、歴史と趣（おもむき）、風情あり。人々がたくさん集まる場所に活気やパワーが生まれるのは共通してますが、日本のこの独特な雰囲気は何でしょう？お城とか神社とか花火とか。それに加えて浴衣、提灯、笛、太鼓。こんな歴史を持っていれば日本の祭りはとても楽しくて、独特な雰囲気になるはずです。リズムとメロディだけの曲って本当に不思議です。そして賑やかな場所から少し離れた場所へ行くと急激に感じる寂しさ静けさ。さて、ここで皆さんに面白い仕掛けを。この曲を聴きながら「音量のボリューム」を「7、8レベルくらい下げてみて」ください。お祭り会場から少し離れたような雰囲気が出ませんか？ 今年も祭りに行きたいなぁ。
