extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 夏草 - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block track
  .trackdetail#track_id(data-track="Natsukusa")
    +tracktitle("夏草", "120")

    p.taglist
      +taglist(["夏恋", "ピアノ", "明るい", "穏やか"])

    p
      | 恋愛ゲームといえば「夏」がピッタリ。夏の田んぼ道や、学校へ行く道、自然豊かな場面など色々イメージ出来そうです。個人的にお気に入りの一曲です！夏草の匂いが漂ってこれば良いのですが。。。
