extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title Night Walking - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('ある日TVで「インドの特集」みたいな番組を見ておりました。そこで流れていたベースラインを聴いて「これだ！」と勢いで作った覚えがあります。...で、一番気になる「そのベースラインをそのままパクったのか？」っていう質問ですが、正直全く覚えてないですね、まぁいつでもこの曲を「消す準備」は出来ておりますが。。。', ["その他"])

block track
  .trackdetail#track_id(data-track="NightWalking")
    +tracktitle("Night Walking", "1:27")

    p.taglist
      +taglist(["その他"])

    p
      | ある日TVで「インドの特集」みたいな番組を見ておりました。そこで流れていたベースラインを聴いて「これだ！」と勢いで作った覚えがあります。...で、一番気になる「そのベースラインをそのままパクったのか？」っていう質問ですが、正直全く覚えてないですね、まぁいつでもこの曲を「消す準備」は出来ておりますが。。。
