extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title おぼろ月 - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('色々な場面に使えそうなんですが、とりわけ私の中でのキーワードは「宵闇」「息を潜める」です。緊張感のある場面において力を発揮するかもしれません。そーいば最近おぼろ月見てないなぁ。', ["和風短編曲集", "夜", "緊張感"])

block track
  .trackdetail#track_id(data-track="Oborozuki")
    +tracktitle("おぼろ月", "3:52")

    p.taglist
      +taglist(["和風短編曲集", "夜", "緊張感"])

    include /app/_layouts/player.jade

    p
      | 色々な場面に使えそうなんですが、とりわけ私の中でのキーワードは「宵闇」「息を潜める」です。緊張感のある場面において力を発揮するかもしれません。そーいば最近おぼろ月見てないなぁ。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Oborozuki", "おぼろ月")
