extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title One step from Darkness - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('「怖さ」とは何か？ 「音」「絵」「演出」色々考えてみたのですが、怖さの一つに私は「ダイナミクス」があると思います。音で言うなら「いきなり大きい音を鳴らす」これは身構えてなければ当然ビビります。もちろん怖さと驚きは似て非なるものですが...。音一つにしてもジワジワ来る怖さ、イキナリ来る怖さ、色々ありますね。ダイナミクスレンジ、ようは音に限らず何でも「差」が大きければ良い意味でも悪い意味でも驚きがあります。やはり何でも「演出」がカギなのですね。というわけで、もっと怖さを研究してみます（怖い〜）', ["時の館", "緊張感", "暗い"])

block track
  .trackdetail#track_id(data-track="OnestepfromDarkness")
    +tracktitle("One step from Darkness", "4:17")

    p.taglist
      +taglist(["時の館", "緊張感", "暗い"])

    include /generate/download/player.jade

    p
      | 「怖さ」とは何か？ 「音」「絵」「演出」色々考えてみたのですが、怖さの一つに私は「ダイナミクス」があると思います。音で言うなら「いきなり大きい音を鳴らす」これは身構えてなければ当然ビビります。もちろん怖さと驚きは似て非なるものですが...。音一つにしてもジワジワ来る怖さ、イキナリ来る怖さ、色々ありますね。ダイナミクスレンジ、ようは音に限らず何でも「差」が大きければ良い意味でも悪い意味でも驚きがあります。やはり何でも「演出」がカギなのですね。というわけで、もっと怖さを研究してみます（怖い〜）

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("OnestepfromDarkness", "One step from Darkness")
