extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title Pastoral Life - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('ほのぼの系で遊牧的で、牛とかニワトリとかと一緒に生活を共にする遊牧民の里をイメージしました。後半が展開するのでやはりRPGの村などに使用されるのがオススメです。(全くそんなイメージで作曲しましたので)', ["RPG", "穏やか", "明るい"])

block track
  .trackdetail#track_id(data-track="PastoralLife")
    +tracktitle("Pastoral Life", "3:00")

    p.taglist
      +taglist(["RPG", "穏やか", "明るい"])

    include /app/_layouts/player.jade

    p
      | ほのぼの系で遊牧的で、牛とかニワトリとかと一緒に生活を共にする遊牧民の里をイメージしました。後半が展開するのでやはりRPGの村などに使用されるのがオススメです。(全くそんなイメージで作曲しましたので)

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("PastoralLife", "Pastoral Life")
      $(document).on "click", ".play-pause" , ->
        Tunes.play '1'
