extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title Preemptive Attack - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('意識せず曲を作るとどうしても歌もののように段々盛り上がるように構成しがちなのですが、「曲の頭から常に一定の高揚感をキープする」ことを意識しました。シミュレーションRPGのような戦略的なバトルのイメージで作曲しましたのでそういった場面の雰囲気で使えるかも?!', ["バロック", "壮大", "バトル", "疾走感"])

block track
  .trackdetail#track_id(data-track="PreemptiveAttack")
    +tracktitle("Preemptive Attack", "3:39")

    p.taglist
      +taglist(["バロック", "壮大", "バトル", "疾走感"])

    include /generate/download/player.jade

    p
      | 意識せず曲を作るとどうしても歌もののように段々盛り上がるように構成しがちなのですが、「曲の頭から常に一定の高揚感をキープする」ことを意識しました。シミュレーションRPGのような戦略的なバトルのイメージで作曲しましたのでそういった場面の雰囲気で使えるかも?!

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("PreemptiveAttack", "Preemptive Attack")
