extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title Prison Break - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('ついにこのクソ喰らえなデスゲームから脱出する方法を見つけた。多くの犠牲を出してしまったが、もはや迷っている時間は無い。残された時間内にここから脱出しなければ...。数多の屍の上に立つ俺たちは、犠牲になった者たちが残してくれたヒントを総動員させ脱獄を決行する。この中に裏切り者がいるとも知らずに...。', ["時の館", "緊張感", "壮大"])

block track
  .trackdetail#track_id(data-track="PrisonBreak")
    +tracktitle("Prison Break", "4:16")

    p.taglist
      +taglist(["時の館", "緊張感", "壮大"])

    include /app/_layouts/player.jade

    p
      | ついにこのクソ喰らえなデスゲームから脱出する方法を見つけた。多くの犠牲を出してしまったが、もはや迷っている時間は無い。残された時間内にここから脱出しなければ...。数多の屍の上に立つ俺たちは、犠牲になった者たちが残してくれたヒントを総動員させ脱獄を決行する。この中に裏切り者がいるとも知らずに...。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("PrisonBreak", "Prison Break")
