extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title リラックスタイム - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('またまた当サイト「夏草」のアレンジです。(どんなけ使い回す笑) 四六時中問わず、息抜き的な感じの場面でいかがですか？ ゆったりしている時や、考え事をまとめている時、お風呂に入っている時、トイレに入っている時、放課後のちょっとした休憩時、密談とか。色々応用できそうな感じにしてみました。(しかし実際に応用できるかのだろうか...)', ["夏恋", "", "明るい", "穏やか"])

block track
  .trackdetail#track_id(data-track="RelaxTime")
    +tracktitle("リラックスタイム", "2:02")

    p.taglist
      +taglist(["夏恋", "", "明るい", "穏やか"])

    include /app/_layouts/player.jade

    p
      | またまた当サイト「夏草」のアレンジです。(どんなけ使い回す笑) 四六時中問わず、息抜き的な感じの場面でいかがですか？ ゆったりしている時や、考え事をまとめている時、お風呂に入っている時、トイレに入っている時、放課後のちょっとした休憩時、密談とか。色々応用できそうな感じにしてみました。(しかし実際に応用できるかのだろうか...)

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("RelaxTime", "リラックスタイム")
