extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 輪廻転生 - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('誰でも死後の世界は気になります。私もその一人。死なない限り一生分からない事がある。輪廻転生をテーマにした物語は色々ありますが、共通している事がとにかく「壮大な物語」であること。時代を跨ぐ者、その時代に生きる者たち、その想いは本当に様々です。和風ジャンル、と一括りにしてしまうのもアレなんですが、イメージしたのはやはり「日本」であり、戦国時代などになります。私自身、生粋の日本人として日本の歴史を舞台にしたテーマには興味があります。現世と違い、立場や使命、出生で、どうにもならない時代で運命を受け入れる者たち、革命を起こす者たちの想いは壮大であり、その時代時代の集大成です。そんな感じで私自身、この曲に様々な想いを詰め込みました。', ["和風短編曲集", "壮大", "神秘的"])

block track
  .trackdetail#track_id(data-track="RinneTensei")
    +tracktitle("輪廻転生", "3:15")

    p.taglist
      +taglist(["和風短編曲集", "壮大", "神秘的"])

    include /app/_layouts/player.jade

    p
      | 誰でも死後の世界は気になります。私もその一人。死なない限り一生分からない事がある。輪廻転生をテーマにした物語は色々ありますが、共通している事がとにかく「壮大な物語」であること。時代を跨ぐ者、その時代に生きる者たち、その想いは本当に様々です。和風ジャンル、と一括りにしてしまうのもアレなんですが、イメージしたのはやはり「日本」であり、戦国時代などになります。私自身、生粋の日本人として日本の歴史を舞台にしたテーマには興味があります。現世と違い、立場や使命、出生で、どうにもならない時代で運命を受け入れる者たち、革命を起こす者たちの想いは壮大であり、その時代時代の集大成です。そんな感じで私自身、この曲に様々な想いを詰め込みました。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("RinneTensei", "輪廻転生")
      $(document).on "click", ".play-pause" , ->
        Tunes.play '1'
