extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title オープニングタイトル - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('', ["ゲーム音楽カバー","Romancing SaGa"])

block track
  .trackdetail#track_id(data-track="RomancingsagaOpeningBV")
    +tracktitle("オープニングタイトル", "3:31")

    p.taglist
      +taglist(["ゲーム音楽カバー","Romancing SaGa"])

    include /generate/download/player.jade

    p
      | 

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("RomancingsagaOpeningBV", "オープニングタイトル")
