extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title ダンジョン#1 - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('', ["ゲーム音楽カバー","Romancing SaGa"])

block track
  .trackdetail#track_id(data-track="Romancingsaga2Dungeon1BV")
    +tracktitle("ダンジョン#1", "3:43")

    p.taglist
      +taglist(["ゲーム音楽カバー","Romancing SaGa"])

    include /generate/download/player.jade

    p
      | 

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Romancingsaga2Dungeon1BV", "ダンジョン#1")
