extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title サンゴと貝 - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('', ["アクア カクテル","神秘的","疾走感"])

block track
  .trackdetail#track_id(data-track="Sangotokai")
    +tracktitle("サンゴと貝", "3:20")

    p.taglist
      +taglist(["アクア カクテル","神秘的","疾走感"])

    include /generate/download/player.jade

    p
      | 

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Sangotokai", "サンゴと貝")
