extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title See you again… - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('曲名通り、エンディングっぽいのを目指して作りました。今回この探偵シリーズの曲を作っていて思ったのですが、あんまりハードボイルドじゃないなぁと。やっぱり私にはハードボイルドはまだ早いのか！？ そんなワケで、次回はさらなるハードボイルドを目指して「シーユーアゲイン！」「また会う日まで！」', ["探偵", "エンディング"])

block track
  .trackdetail#track_id(data-track="SeeYouAgain")
    +tracktitle("See you again…", "2:22")

    p.taglist
      +taglist(["探偵", "エンディング"])

    p
      | 曲名通り、エンディングっぽいのを目指して作りました。今回この探偵シリーズの曲を作っていて思ったのですが、あんまりハードボイルドじゃないなぁと。やっぱり私にはハードボイルドはまだ早いのか！？ そんなワケで、次回はさらなるハードボイルドを目指して「シーユーアゲイン！」「また会う日まで！」
