extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 戦火 - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('久々にイメージ通りの曲が出来ました。ボスバトル直前の会話、もしくは対峙的な感じでもいけますし、奇襲され、壊滅寸前の炎が荒れ狂う街や城などの場面でも威力を発揮するかと思います。', ["RPG", "緊張感", "バトル"])

block track
  .trackdetail#track_id(data-track="Senka")
    +tracktitle("戦火", "1:47")

    p.taglist
      +taglist(["RPG", "緊張感", "バトル"])

    include /app/_layouts/player.jade

    p
      | 久々にイメージ通りの曲が出来ました。ボスバトル直前の会話、もしくは対峙的な感じでもいけますし、奇襲され、壊滅寸前の炎が荒れ狂う街や城などの場面でも威力を発揮するかと思います。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Senka", "戦火")
