extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title Silence ~静寂の開花~ - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('', ["SilverForest"])

block track
  .trackdetail#track_id(data-track="sf-03")
    +tracktitle("Silence ~静寂の開花~", "2:02")

    p.taglist
      +taglist(["SilverForest"])

    include /generate/download/player.jade

    p
      | 

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("sf-03", "Silence ~静寂の開花~")
