extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title Mountain Road ~山道~ - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('', ["SilverForest"])

block track
  .trackdetail#track_id(data-track="sf-05")
    +tracktitle("Mountain Road ~山道~", "1:50")

    p.taglist
      +taglist(["SilverForest"])

    include /generate/download/player.jade

    p
      | 

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("sf-05", "Mountain Road ~山道~")
