extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title Yggdrasill ~世界樹~ - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('', ["SilverForest"])

block track
  .trackdetail#track_id(data-track="sf-10")
    +tracktitle("Yggdrasill ~世界樹~", "2:02")

    p.taglist
      +taglist(["SilverForest"])

    include /generate/download/player.jade

    p
      | 

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("sf-10", "Yggdrasill ~世界樹~")
