extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 使命の果てに - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('受け入れられない運命、幾許の苦難を乗り越えそれを受け入れた時、それは運命から「使命」に変わる。穏やかに始まり、悲愴的になり、壮大で衝撃的な展開をしますので、重要なイベントシーンなどにいかがでしょうか？', ["RPG","オープニング","悲しい","神秘的","壮大"])

block track
  .trackdetail#track_id(data-track="Shimeinohateni")
    +tracktitle("使命の果てに", "1:46")

    p.taglist
      +taglist(["RPG","オープニング","悲しい","神秘的","壮大"])

    include /generate/download/player.jade

    p
      | 受け入れられない運命、幾許の苦難を乗り越えそれを受け入れた時、それは運命から「使命」に変わる。穏やかに始まり、悲愴的になり、壮大で衝撃的な展開をしますので、重要なイベントシーンなどにいかがでしょうか？

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Shimeinohateni", "使命の果てに")
