extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title しっとりモーニン - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('当サイトの曲「夏草」をアレンジして「朝っぽい」雰囲気を出してみました。清々しいと言うよりは「しっとりしなやかな朝」をイメージしました。「朝シャンプー」とか「リンスインシャンプー」「シャボン玉」とか散々迷いましたが...。この曲を「早朝から活動する主人公へのエール」と代えさせて頂きます。', ["夏恋", "ピアノ", "明るい", "穏やか"])

block track
  .trackdetail#track_id(data-track="Shittori")
    +tracktitle("しっとりモーニン", "2:02")

    p.taglist
      +taglist(["夏恋", "ピアノ", "明るい", "穏やか"])

    include /app/_layouts/player.jade

    p
      | 当サイトの曲「夏草」をアレンジして「朝っぽい」雰囲気を出してみました。清々しいと言うよりは「しっとりしなやかな朝」をイメージしました。「朝シャンプー」とか「リンスインシャンプー」「シャボン玉」とか散々迷いましたが...。この曲を「早朝から活動する主人公へのエール」と代えさせて頂きます。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Shittori", "しっとりモーニン")
