extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title Sorrow - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('シリアスでドラマティックな「エンドロール」や「テロップ」で流れているようなイメージです。どちらかというと雰囲気が暗くて金属的なので、葬送行進曲のような、「仲間の死を乗り越える」といった場面でもいけるかもしれません。', ["バロック","壮大","緊張感","エンディング"])

block track
  .trackdetail#track_id(data-track="Sorrow")
    +tracktitle("Sorrow", "1:41")

    p.taglist
      +taglist(["バロック","壮大","緊張感","エンディング"])

    include /generate/download/player.jade

    p
      | シリアスでドラマティックな「エンドロール」や「テロップ」で流れているようなイメージです。どちらかというと雰囲気が暗くて金属的なので、葬送行進曲のような、「仲間の死を乗り越える」といった場面でもいけるかもしれません。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Sorrow", "Sorrow")
