extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title Stab the sword of justice - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('', ["ゲーム音楽カバー","Star Ocean2"])

block track
  .trackdetail#track_id(data-track="StarOcean2StabBV")
    +tracktitle("Stab the sword of justice", "2:44")

    p.taglist
      +taglist(["ゲーム音楽カバー","Star Ocean2"])

    include /generate/download/player.jade

    p
      | 

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("StarOcean2StabBV", "Stab the sword of justice")
