extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 旅のお宿 - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('旅人を迎える寝床と言えば旅の宿。「宿屋の音楽を作ろう」と思ったものの、頭の中で宿屋を色々イメージしてると、「いんやはや、ようこそおいでくださいますたぁ」という女将さんのドヤ顔しか沸かなくなり、こんな感じの曲になりました。私的には大成功なのですが...汗。私自身、宿や和食屋さんで聴きたいので、是非ともよろしくお願いいたします。', ["和風短編曲集", "安らぎ", "穏やか"])

block track
  .trackdetail#track_id(data-track="Tabinooyado")
    +tracktitle("旅のお宿", "2:49")

    p.taglist
      +taglist(["和風短編曲集", "安らぎ", "穏やか"])

    include /app/_layouts/player.jade

    p
      | 旅人を迎える寝床と言えば旅の宿。「宿屋の音楽を作ろう」と思ったものの、頭の中で宿屋を色々イメージしてると、「いんやはや、ようこそおいでくださいますたぁ」という女将さんのドヤ顔しか沸かなくなり、こんな感じの曲になりました。私的には大成功なのですが...汗。私自身、宿や和食屋さんで聴きたいので、是非ともよろしくお願いいたします。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Tabinooyado", "旅のお宿")
