extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title Take Off - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('またまたこの曲も「30分でこの写真に合う曲作ってみて」という当サイト(音の園)を作ってくれている友人のお題。飛行機が飛んでいる写真だったのですが、ぶっちゃけ30分はシンドイので今度は「1時間」でお願いしようかと思ってます。友人曰く「シューティングゲームのスタートボタンを押してくれ」的な画面で流れていそう、と言ってました。なるほど〜。', ["フライト", "壮大", "明るい", "疾走感"])

block track
  .trackdetail#track_id(data-track="TakeOff")
    +tracktitle("Take Off", "0:58")

    p.taglist
      +taglist(["フライト", "壮大", "明るい", "疾走感"])

    include /app/_layouts/player.jade

    p
      | またまたこの曲も「30分でこの写真に合う曲作ってみて」という当サイト(音の園)を作ってくれている友人のお題。飛行機が飛んでいる写真だったのですが、ぶっちゃけ30分はシンドイので今度は「1時間」でお願いしようかと思ってます。友人曰く「シューティングゲームのスタートボタンを押してくれ」的な画面で流れていそう、と言ってました。なるほど〜。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("TakeOff", "Take Off")
      $(document).on "click", ".play-pause" , ->
        Tunes.play '1'
