extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 魂の解放 - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('どこからか、またあの声が聞こえる。あの旋律とともに。そうか、なぜあの旋律が心地よかったのか、今ようやく分かった気がする。ようやく乗り越えた悲しみの先に、更なる受け入れれない事実がある。全てを解放し、生か死か、私には選ぶ権利がある。そして、物語は終焉を迎える。', ["時の館","暗い","緊張感","エンディング"])

block track
  .trackdetail#track_id(data-track="Tamashiinokaihou")
    +tracktitle("魂の解放", "2:21")

    p.taglist
      +taglist(["時の館","暗い","緊張感","エンディング"])

    include /generate/download/player.jade

    p
      | どこからか、またあの声が聞こえる。あの旋律とともに。そうか、なぜあの旋律が心地よかったのか、今ようやく分かった気がする。ようやく乗り越えた悲しみの先に、更なる受け入れれない事実がある。全てを解放し、生か死か、私には選ぶ権利がある。そして、物語は終焉を迎える。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Tamashiinokaihou", "魂の解放")
