extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 戦いの舞い - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block track
  .trackdetail#track_id(data-track="TatakaiNoMai")
    +tracktitle("戦いの舞い", "3:38")

    p.taglist
      +taglist(["RPG", "バトル"])

    p
      | 音の園バトル第一弾ということで、持てる力と知恵と勇気を振り絞りました。(トライフォース！) 私は大抵バトル曲を作ろうとするとパクりかクッサいメロディで失敗するんですが今回はなんとかそれらを20%くらいは回避できたと自負しております！ただしイントロは王道で（笑） ヴァイオリンとバンドサウンドの躍動感あるメロディラインを意識しました。隠し味で所々にパッパラパ~のブラスをリズム要素で入れてます。ヴァイオリンもベースもドラムも大活躍！是非バンドで演奏したいものです。
