extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 時計塔 - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('すごい金属音が一定のリズムを刻んでいる。鐘の音も聴こえるけどここは時計塔か。とにかく、あまり長居したくない場所であることは間違いない。', ["時の館", "緊張感", "暗い"])

block track
  .trackdetail#track_id(data-track="Tokeitou")
    +tracktitle("時計塔", "1:53")

    p.taglist
      +taglist(["時の館", "緊張感", "暗い"])

    include /generate/download/player.jade

    p
      | すごい金属音が一定のリズムを刻んでいる。鐘の音も聴こえるけどここは時計塔か。とにかく、あまり長居したくない場所であることは間違いない。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Tokeitou", "時計塔")
