extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 飛火入夏虫 - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('こういうテイストの曲ってちょっと難しいんですが、タイトルだけはやたらと「ドヤ顔」のような気がします。という訳で、キャラクターたちの少しふざけたやり取りや、コメディな雰囲気を演出したい時にいかがでしょう？', ["夏恋", "緊張感", "疾走感"])

block track
  .trackdetail#track_id(data-track="TondeHiniiruNatsunoMushi")
    +tracktitle("飛火入夏虫", "2:11")

    p.taglist
      +taglist(["夏恋", "緊張感", "疾走感"])

    include /app/_layouts/player.jade

    p
      | こういうテイストの曲ってちょっと難しいんですが、タイトルだけはやたらと「ドヤ顔」のような気がします。という訳で、キャラクターたちの少しふざけたやり取りや、コメディな雰囲気を演出したい時にいかがでしょう？

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("TondeHiniiruNatsunoMushi", "飛火入夏虫")
