extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 永遠の叙情 - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('和風カテゴリ行きになりましたが、若干洋風な感じもしなくもないです（笑） サウンドノベルなどのゲーム再開時、栞（しおり）を選ぶ時、または少し怖く不思議な物語を語る時とかどうですか？ 他にも変な使い方があればぜひ教えてください（笑）', ["和風短編曲集", "暗い"])

block track
  .trackdetail#track_id(data-track="Towanojojou")
    +tracktitle("永遠の叙情", "1:05")

    p.taglist
      +taglist(["和風短編曲集", "暗い"])

    include /app/_layouts/player.jade

    p
      | 和風カテゴリ行きになりましたが、若干洋風な感じもしなくもないです（笑） サウンドノベルなどのゲーム再開時、栞（しおり）を選ぶ時、または少し怖く不思議な物語を語る時とかどうですか？ 他にも変な使い方があればぜひ教えてください（笑）

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Towanojojou", "永遠の叙情")
      $(document).on "click", ".play-pause" , ->
        Tunes.play '1'
