extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 月夜の放浪者 - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('当サイト音の園の「異邦の地図」という曲のアレンジバージョンです。その名の通り、夜の行動時に流れていそうなイメージ。夜っぽい曲は好きなので個人的にお気に入りの一曲です。', ["RPG","穏やか","明るい"])

block track
  .trackdetail#track_id(data-track="TsukiyonoHourousha")
    +tracktitle("月夜の放浪者", "1:56")

    p.taglist
      +taglist(["RPG","穏やか","明るい"])

    include /generate/download/player.jade

    p
      | 当サイト音の園の「異邦の地図」という曲のアレンジバージョンです。その名の通り、夜の行動時に流れていそうなイメージ。夜っぽい曲は好きなので個人的にお気に入りの一曲です。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("TsukiyonoHourousha", "月夜の放浪者")
