extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title Underground - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('地下へ続く通路を見つけた。奥からすごい轟音が響く。一体この先に何があるのだろう...。確かめなければ...。', ["時の館", "緊張感", "暗い"])

block track
  .trackdetail#track_id(data-track="Underground")
    +tracktitle("Underground", "1:55")

    p.taglist
      +taglist(["時の館", "緊張感", "暗い"])

    include /app/_layouts/player.jade

    p
      | 地下へ続く通路を見つけた。奥からすごい轟音が響く。一体この先に何があるのだろう...。確かめなければ...。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Underground", "Underground")
