extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title Vacant - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('その名の通り「空虚」「もぬけの殻」本来、その場所にいるべき人たちがいない、ただならぬ雰囲気、響くのは鐘の音だけ...そんな場面をイメージしました。忽然と姿を消した者たちの行方は？？ いや、まぁ私に聞かれても困るんですが...(聞いていない)', ["バロック", "緊張感", "神秘的"])

block track
  .trackdetail#track_id(data-track="Vacant")
    +tracktitle("Vacant", "1:22")

    p.taglist
      +taglist(["バロック", "緊張感", "神秘的"])

    include /generate/download/player.jade

    p
      | その名の通り「空虚」「もぬけの殻」本来、その場所にいるべき人たちがいない、ただならぬ雰囲気、響くのは鐘の音だけ...そんな場面をイメージしました。忽然と姿を消した者たちの行方は？？ いや、まぁ私に聞かれても困るんですが...(聞いていない)

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Vacant", "Vacant")
