extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title Village in the Forest - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('森の奥深くに住む人々、あるいは動物たち。木漏れ日が差し込む中、ゆっくりと時間が過ぎていく生活。そんな人生も良いと思いませんか？ 情報化社会において、日々多忙に生活する私たちとは、全く違うこんな暮らしを、私は少しうらやましくも思います。せめて想像だけでもさせてください…。', ["RPG", "穏やか"])

block track
  .trackdetail#track_id(data-track="VillageInTheForest")
    +tracktitle("Village in the Forest", "2:28")

    p.taglist
      +taglist(["RPG", "穏やか"])

    include /generate/download/player.jade

    p
      | 森の奥深くに住む人々、あるいは動物たち。木漏れ日が差し込む中、ゆっくりと時間が過ぎていく生活。そんな人生も良いと思いませんか？ 情報化社会において、日々多忙に生活する私たちとは、全く違うこんな暮らしを、私は少しうらやましくも思います。せめて想像だけでもさせてください…。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("VillageInTheForest", "Village in the Forest")
