extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 倭国 - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('倭国大和王国、または昔の中国が舞台で、その中でもとりわけ「旅のテーマ」です。振り向けば遥か彼方にある故郷、前を向けばまだ着かぬ目的地への道のり。とても長く果てしない。旅路は何も草むらや田んぼ道だけでなく、町内といえども目的地でない限りまだ旅の途中。のんびりで良いのです。たまには寄り道もして、確実に前へ前へ進みましょう。いつか辿り着くその時まで。', ["和風短編曲集", "穏やか"])

block track
  .trackdetail#track_id(data-track="Wakoku")
    +tracktitle("倭国", "3:05")

    p.taglist
      +taglist(["和風短編曲集", "穏やか"])

    include /generate/download/player.jade

    p
      | 倭国大和王国、または昔の中国が舞台で、その中でもとりわけ「旅のテーマ」です。振り向けば遥か彼方にある故郷、前を向けばまだ着かぬ目的地への道のり。とても長く果てしない。旅路は何も草むらや田んぼ道だけでなく、町内といえども目的地でない限りまだ旅の途中。のんびりで良いのです。たまには寄り道もして、確実に前へ前へ進みましょう。いつか辿り着くその時まで。

block tunescript
  script
    :coffee
      Tunes.appendSingleTrack("Wakoku", "倭国")
