extends /generate/download/_layout.jade

include /generate/download/_mixins.jade

block title
  title 夜道を抜けて - mp3ファイルのダウンロード | フリー音楽素材 BGM「音の園」

block meta
  +meta('私は夜道のあの「何とも言えない静けさ」が好きなんです。お祭りの後の帰り道とか...。ロマンチックだし夜っていうだけで何故か風情を感じるんです。でも一つだけ苦手なのがあって、、、聞いてくれます？ まぁ聞いてください。それは夜道の天敵「ムシ」なんです...。自販機で飲み物を買う際に急降下してきた時は腰の骨を折るかと思いました。(反射的に避けるのでむちゃくちゃな姿勢になる)', ["夏恋", "夜", "穏やか", "ピアノ"])

block track
  .trackdetail#track_id(data-track="YomichiWoNukete")
    +tracktitle("夜道を抜けて", "4:29")

    p.taglist
      +taglist(["夏恋", "夜", "穏やか", "ピアノ"])

    p
      | 私は夜道のあの「何とも言えない静けさ」が好きなんです。お祭りの後の帰り道とか...。ロマンチックだし夜っていうだけで何故か風情を感じるんです。でも一つだけ苦手なのがあって、、、聞いてくれます？ まぁ聞いてください。それは夜道の天敵「ムシ」なんです...。自販機で飲み物を買う際に急降下してきた時は腰の骨を折るかと思いました。(反射的に避けるのでむちゃくちゃな姿勢になる)
