md-dialog.modal(aria-label="download" ng-click="hide()")
  md-toolbar
    .md-toolbar-tools
      h2 ダウンロード
      span(flex)
      md-button.md-icon-button(ng-click="answer('not applicable')")
        md-icon
          i.material-icons.md-24 close

  md-dialog-content
    div
      h2
        i.material-icons audiotrack
        span.title {{pick.title}}
        div.time {{getTime(pick.time)}}

      p {{pick.desc}}
      
      section(layout="row" layout-align="center center")
        md-button.md-raised.md-accent(ng-click="download(pick)")
          i.material-icons file_download
          | ダウンロード

  div.md-actions(layout="row")
    a(href="http://creativecommons.org/licenses/by/4.0/" rel="license" style="width:88px;height:31px;" target="_blank")
      img(alt="クリエイティブ・コモンズ・ライセンス" src="https://i.creativecommons.org/l/by/4.0/88x31.png" style="border-width:0")
    md-button(ng-click="showAbout()") 利用規約
    span(flex)
    md-button.download.md-primary(ng-click="hide()") 閉じる
